
* {
    font-family: "Optima", sans-serif;
}


.mainContentsBox {
    box-sizing: border-box;
    display: block;
    border: 1px solid rgba(27, 27, 26, 0.18); 
    margin: 0.5vw 7vw 1vw 7vw;
    background-image: linear-gradient(to bottom right, #cce6ff, #ffffff);
    border-radius: 15px 50px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: baseline;
    padding-bottom: 0.5vw;

}

.ui-button {
    color: #ffffff;
}


/* Selects all <p:dataTable>'s */
#j_idt23, #j_idt24 {
    margin: 2vw 5vw 2vw 5vw !important;
}
/* teachers page datatable header*/
#j_idt24_header {
    padding: 0;
}

#j_idt18_header {
    padding: 0px;
}

#top-main-menubar_content {
    padding: 0px;
}

ui-panel ui-widget ui-widget-content ui-corner-all {
    border: 1px solid black;
    border-radius: 50px 50px 0px 0px;
}

.ui-sticky {
    top: 10px !important;
}

/* all datatable column headers */
body .ui-datatable thead th {
    text-align: center;
    border-radius: 15px 50px 30px;
}

/* all datatable main headers */
body .ui-panel .ui-panel-titlebar {
    border-radius: 50px 50px 0px 0px;
}


/* select all div's of this class' */
.ui-g div {
    text-align: center;
}

.ui-panel-title{
    vertical-align: middle !important;
}




