
* {
    font-family: "Optima", sans-serif;
}

.mainContentsBox {
    box-sizing: border-box;
    display: block;
    border: 1px solid rgba(27, 27, 26, 0.18); 
    margin: 0.5vw 7vw 1vw 7vw;
    background-image: linear-gradient(to bottom right, #cce6ff, #ffffff);
    border-radius: 15px 50px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: baseline;
    padding-bottom: 0.5vw;

}

#login-grid-section {
    background-image: linear-gradient(to bottom right, #cce6ff, #ffffff);
    border: 1px solid rgba(27, 27, 26, 0.18); 
    border-radius: 15px 50px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15vw 0vw 0vw 0vw;
}

#class-info-header {
    background-image: linear-gradient(to bottom right, #80e5ff, #ccffeb);
    border: 1px solid rgba(27, 27, 26, 0.18); 
    border-radius: 15px 50px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    margin: 1vw;
    color: #666666;
}

#top-main-menubar_content {
    padding: 0px;
}

.ui-sticky {
    top: 10px !important;
}
/* data tables and panels */
body .ui-panel .ui-panel-content {
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    align-content: center;
}


.all-centered-panel-grid {
    margin: 0 auto !important;
    text-align: center;
    align-content: center;
}

/* all datatable column headers */
body .ui-datatable thead th {
    text-align: center;
    border-radius: 15px 50px 30px;
}

/* all datatable main headers */
body .ui-panel .ui-panel-titlebar {
    background-image: linear-gradient(to bottom right, #80e5ff, #ccffeb);
    margin-top: 1vw;
    color: #666666;
    border-radius: 50px 50px 0px 0px;
    text-align: center;
}

/* select all div's of this class' */
/*.ui-g div {
    text-align: center;
    border: 1px solid #fafafa;
}*/

.ui-panel-title{
    vertical-align: middle !important;
}




